.season-slider-container {
  width: 60%;
  position: relative;
  margin: 2rem auto;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 1rem;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--blue);
  cursor: pointer;
  scale: 1;
  transition: 200ms scale ease-in-out;
}

.slider::-webkit-slider-thumb:hover {
  scale: 1.1;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: var(--blue);
  cursor: pointer;
}

.slider-thumb-label {
  position: absolute;
  top: -20%;
  transform: translate(-50%, -150%);
  background: var(--blue);
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  white-space: nowrap;
  pointer-events: none;
  z-index: 2;
}