.game-presentation-container {
  width: 100%;
  gap: 10px;
}

.robot-container {
  height: 370px;
  justify-content: space-between;
}

.robot-caracteristic-container {
  margin-top: 35px;
}

.game-logo {
  width: 50%;
  max-height: 400px;
  border-radius: 20px;
  padding: 10px;
}

body[data-theme="dark"] .game-logo {
  background-color: rgba(66, 66, 66, 0.233);
}

.robotImage-container {
  align-items: center;
  width: fit-content;
}

.robotImage {
  height: 95%;
  border-radius: 20px;
}

.team-profile {
  position: relative;
  align-items: center;
  height: 100;
}

.team-logo {
  height: 4rem;
  width: auto;
}

.teamNameTBA {
  margin-left: 10px;
  position: relative;
  top: -6px;
}

.team-location-container {
  margin-top: 10px;
}

.robotName {
  font-style: italic;
}

@media (max-width: 1400px ) {
  .team-logo {
    max-height: 70px;
  }

  .iconText {
    margin-top: 5px;
  }

  .team-location-container {
    margin-top: 0px;
  }

  .robot-caracteristic-container {
    margin-top: 15px;
  }

  .robot-container {
    height: 275px;
  }
}

@media (max-width: 1000px) {
  .team-logo {
    max-height: 55px;
  }

  .team-profile {
    height: 55px;
  }

  .robot-container {
    height: 240px;
  }
}

@media (max-width: 750px) {
  .content {
    width: 80%;
  }

 .game-presentation-container {
    margin-top: 0px;
    flex-direction: column;
  }
  
  .game-logo {
    width: 100%;
  }

  .team-logo {
    max-height: 40px;
  }

  .team-profile {
    height: 40px;
  }

  .teamNameTBA {
    margin-left: 5px;
    top: -1px;
  }

  .robot-container {
    flex-direction: column;
    height: fit-content;
    gap: 10px;
  }

  .robotImage {
    width: 100%;
  }

  .iconText {
    margin-top: 3px;
    gap: 2px;
  }
}