.fullscreen-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  z-index: 1000;
  cursor: zoom-out;
}

body[data-theme="dark"] .fullscreen-modal {
  background-color: rgba(0, 0, 0, 0.904);
}

.fullscreen-modal img {
  position: fixed;
  border-radius: 12px;
}