.photo-gallery-container {
  column-count: 3;
  width: 100%;
  font-size: 16;
}

@media (max-width: 1000px) {
  .photo-gallery-container {
    column-count: 2;
  }
}

@media (max-width: 750px) {
  .photo-gallery-container {
    column-count: 1;
    font-size: 10;
  }

  .galery-photo {
    margin-bottom: 10px;
  }
}