.photo-gallery-container {
  display: flex;
  margin-left: -16px;
  width: auto;
}

.gallery-column {
  padding-left: 16px;
  background-clip: padding-box;
}

.galery-photo {
  position: relative;
  width: 100%;
  height: auto;
  cursor: pointer;
  margin-bottom: 16px;
  border-radius: 10px;
}

@media (max-width: 750px) {
  .photo-gallery-container {
    font-size: 10;
  }

  .galery-photo {
    margin-bottom: 10px;
  }
}
