/* MatchTable.module.css */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 8px 8px;
  border: 1px solid #929292;
  text-align: center;
  text-wrap: nowrap;
  transition: background 0.2s ease-in-out;
}

.redAlliance {
  background-color: var(--board-red-color);
}

.blueAlliance {
  background-color: var(--board-blue-color)
}

.video {
  stroke: var(--blue);
}

.currentTeam {
  text-decoration: underline;
}

.hidden_lg {
  display: none;
}

@media (max-width: 1400px) {
  .table th, .table td {
    padding: 4px 8px;
  }
}

@media (max-width: 1200px) {
  .hidden_lg {
    display: table-row;
  }
}

@media (max-width: 750px) {
  .table th, .table td {
    padding: 4px;
  }
}