.navbar {
  position: absolute;
  top: 10px;
  display: flex;
  z-index: 101;
  width: 100%;
}

.navbar_btnContainer_ls {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
}

.navbar_btnContainer_ss {
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;
  display: none;
  background-color: var(--background-color);
  z-index: 100;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0px 4px 15px 25px var(--background-color);
  transition: max-height 0.3s ease-in-out, visibility 0s 0.3s;
}

.hamburger {
  position: relative;
  left: 10px;
  display: none;
  cursor: pointer;
}

.nav_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
}

.nav_btn:hover {
  color: rgb(88, 88, 88);
}

.nav_btn > a {
  padding: 10px;
}

.visible {
  display: flex; /* force it to show */
  visibility: visible;
  overflow: hidden;
  max-height: 500px;
  transition: max-height 0.3s ease-in-out, visibility 0s;
}

.hidden {
  display: none;
  visibility: hidden;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out, visibility 0s 0.3s;
}

.no_transition {
  transition: none !important;
}

.fixed {
  position: fixed;
}

@media (max-width: 1200px) {  
  .navbar {
    width: fit-content;
  }
  
  .hamburger {
    display: initial;
  }

  .nav_btn {
    width: 100%;
  }

  .nav_btn > a {
    width: 100%;
    text-align: center;
  }

  .navbar_btnContainer_ss {
    display: flex;
  }
}