.navbar {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
}

.navbar_btnContainer {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

.topleft_logo {
  position: absolute;
  top: 10;
  left: 30;
}

.nav_btn {
  font-size: 32px;
  display: flex;
  align-items: center;
  text-wrap: nowrap;
}

.nav_btn > a {
  padding: 10px;
  height: fit-content;
}