.navbar {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.navbar_btnContainer {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}

.nav_btn {
  display: flex;
  align-items: center;
  font-size: 32px;
  text-wrap: nowrap;
}

.nav_btn > a {
  padding: 10px;
  height: fit-content;
}
