/* MatchTable.module.css */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 8px 8px;
  border: 1px solid #929292;
  text-align: center;
  text-wrap: nowrap;
}

.table th {
  background-color: #f4f4f4;
}

.hideOnSmall {
  display: table-row;
}

.redAlliance {
  background-color: rgb(255, 221, 221);
}

.blueAlliance {
  background-color: rgb(238, 238, 255);
}

.winner {
  font-weight: 700;
}

.currentTeam {
  text-decoration: underline;
}

.hidden_lg {
  display: none;
}

@media (max-width: 1400px) {
  .table th, .table td {
    padding: 4px 8px;
  }
}

@media (max-width: 1000px) {
  .visible_lg {
    display: none;
  }

  .hidden_lg {
    display: table-row;
  }
}

@media (max-width: 750px) {
  .table th, .table td {
    padding: 4px 6px;
  }
}