.event_container {
  display: flex;
  margin-top: 35px;
}

.event_infos {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.event_stats {
  width: 60%;
}

.iconText {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  gap: 5px;
  font-size: 20px;
}

.reward_container {
  margin-top: 50px;
}

.font64 {
  font-size: 64px;
}

.font40 {
  font-size: 40px;
}

.font20 {
  font-size: 20px;
}

.link {
  color: var(--blue);
}

.link:hover {
  text-decoration: underline;
}