.event_container {
  display: flex;
  margin-top: 35px;
  gap: 10px;
}

.event_stats {
  width: 70%;
}

.iconText {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  gap: 5px;
}

.reward_container {
  margin-top: 50px;
}

@media (max-width: 750px) {
  .event_container {
    margin-top: 20px;
    flex-direction: column;
  }

  .event_stats {
    width: 100%;
  }

  .iconText {
    margin-top: 3px;
    gap: 2px;
  }

  .reward_container {
    margin-top: 10px;
  }
}